---
import Layout from '../layouts/Layout.astro'
import BottomItem from '../components/BottomItem.astro'
import Title from '../components/Title.astro'
import PhotoSwipeGallery from '../components/PhotoSwipeGallery.astro'
import OpenInvitation from '../components/OpenInvitation.astro'
import Profile from '../components/Profile.astro'
import DateTimeAndLocation from '../components/DateTimeAndLocation.astro'
import Gift from '../components/Gift.astro'
import '../styles/main.css'
import cover from '../../public/cover.avif'
import groom from '../../public/groom.avif'
import bride from '../../public/bride.avif'
import g1 from '../../public/gallery/115.avif'
import g2 from '../../public/gallery/106.avif'
import g3 from '../../public/gallery/138.avif'
import g4 from '../../public/gallery/201.avif'
import g5 from '../../public/gallery/210.avif'
import g6 from '../../public/gallery/214.avif'
import g7 from '../../public/gallery/218.avif'
import g8 from '../../public/gallery/232.avif'

const banks = [
	{
		bankName: 'BCA',
		accountNumber: '1234567890',
		accountName: 'Yohanes'
	},
	{
		bankName: 'Jago',
		accountNumber: '1234567890',
		accountName: 'Citra'
	}
]

const images = [
	g1, g2, g3, g4, g5, g6, g7, g8
]
---

<Layout title="Landing">
	<main>
		<div class="h-screen bg-slate-900">
			<div class="absolute inset-0">
				<img
					src={cover.src}
					loading="lazy"
					decoding="async"
					class="w-full h-full object-cover mx-auto max-w-screen-md md:max-w-screen-sm transition-all grayscale-0 scale-100"
				/>
			</div>

			<div class="relative flex flex-col flex-wrap justify-end h-screen text-white">
				<div class="flex flex-col items-center content-center py-8">
					<div class="satisfy text-center text-5xl font-bold">Yohanes & Citra</div>
					<div class="text-center mx-8 p-3">
						<p class="text-xs">Kepada :</p>
						<h5 class="text-base font-bold overflow-visible">
							{Astro.url.searchParams.get('to')}
						</h5>
					</div>
					<OpenInvitation />
				</div>
			</div>
		</div>

		<div id="profile" class="section">
			<div id="home" class="flex flex-col flex-wrap justify-center items-center h-screen">
				<div class="text-center mx-8">
					Dan di atas semuanya itu: kenakanlah kasih, sebagai pengikat yang mempersatukan dan
					menyempurnakan.
				</div>
				<div>Kolose 3:14</div>
			</div>

			<div class="min-h-full flex flex-col items-center h-wrap text-white bg-black p-11">
				<Title title="Calon Pengantin" />
				<div class="pb-11"></div>

				<div class="w-[250px] h-[350px]">
					<div class="relative shrink-0 w-full h-full">
						<img
							alt=""
							loading="lazy"
							decoding="async"
							data-nimg="fill"
							class="rounded-full"
							sizes="100vw"
							src={groom.src}
							style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;"
						/>
					</div>
				</div>

				<Profile
					name="Yohanes"
					birthOrder="Anak Bungsu dari"
					parents="Bapak Gabriel Bandyatno Kustiadi & Ibu Linda"
				/>
				<div class="pb-11"></div>
				<div class="w-[250px] h-[350px]">
					<div class="relative shrink-0 w-full h-full">
						<img
							alt=""
							loading="lazy"
							decoding="async"
							data-nimg="fill"
							class="rounded-full"
							sizes="100vw"
							src={bride.src}
							style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;"
						/>
					</div>
				</div>
				<Profile name="Citra Yana Kristian" birthOrder="Anak pertama" parents="Bapak, Ibu" />
			</div>
		</div>

		<div id="event" class="section">
			<div class="min-h-full flex flex-col items-center h-wrap text-black py-20 px-8">
				<div data-aos="fade-in" class="relative z-10 aos-init aos-animate">
					<div class="grid grid-cols-1 gap-10 text-center py-12">
						<DateTimeAndLocation
							title="Akad"
							address="Sunburst BSD Lot II No. 7, Jl. Kapten Soebijanto Djojohadikusumo, BSD City, Lengkong Gudang, Tangerang, Jl. Boulevard BSD Tim., Lengkong Gudang, Kec. Serpong, Kota Tangerang Selatan, Banten 15321	"
							date="25 November 2023"
							time="13:00 WIB s/d Selesai"
							locationUrl="https://maps.app.goo.gl/Kf47fUR42L9Y2o6N6"
						/>
						<div class="pb-11"></div>
						<DateTimeAndLocation
							title="Resepsi"
							address="Sunburst BSD Lot II No. 7, Jl. Kapten Soebijanto Djojohadikusumo, BSD City, Lengkong Gudang, Tangerang, Jl. Boulevard BSD Tim., Lengkong Gudang, Kec. Serpong, Kota Tangerang Selatan, Banten 15321"
							date="25 November 2023"
							time="18:00 WIB s/d Selesai"
							locationUrl="https://maps.app.goo.gl/Kf47fUR42L9Y2o6N6"
						/>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div
		id="gallery"
		class="section flex flex-col flex-wrap justify-center items-center min-h-full h-wrap"
	>
		<Title title="Our Gallery" />
		<PhotoSwipeGallery images={images} />
	</div>

	<div id="story" class="section flex flex-col flex-wrap justify-center items-center h-screen">
		<Title title="Our Story" subTitle="Time flies when you're in the moment of joy." />
	</div>

	<div id="wallet" class="section flex flex-col flex-wrap justify-center items-center  h-wrap">
		<Gift banks={banks} />
	</div>

	<nav
		class="fixed z-50 bottom-4 w-full max-w-lg -translate-x-1/2 left-1/2 bg-gray-800 text-white flex justify-around py-4 invisible"
	>
		<BottomItem title="Pengantin" navigateTo="profile" iconName="mdi:account" />
		<BottomItem title="Tanggal Acara" navigateTo="event" iconName="iconoir:calendar" />

		<BottomItem title="Gallery" navigateTo="gallery" iconName="solar:gallery-linear" />
		<BottomItem title="Story" navigateTo="story" iconName="ic:baseline-edit" />
		<BottomItem title="Hadiah" navigateTo="wallet" iconName="basil:present-outline" />
	</nav>
</Layout>

<script>
	function smoothScrollTo(targetId: string) {
		const target = document.getElementById(targetId)
		if (target) {
			// Calculate the distance between the top of the document and the target element
			const targetOffsetTop = target.getBoundingClientRect().top

			// Use the 'scrollTo' function with behavior 'smooth' to achieve smooth scrolling
			window.scrollTo({
				top: targetOffsetTop + window.pageYOffset, // Add current scroll position to the target offset
				behavior: 'smooth'
			})
		}
	}

	document.addEventListener('DOMContentLoaded', function () {
		const sections = document.querySelectorAll('.section')
		const navigationItems = document.querySelectorAll('.nav-item')

		function setBottomNavigationClick() {
			navigationItems.forEach((x) => {
				x.addEventListener('click', (e) => {
					smoothScrollTo(x.id)
				})
			})
		}

		function getActiveSection() {
			let currentSection = sections[0]
			let minDistance = Math.abs(currentSection.getBoundingClientRect().top)

			sections.forEach((section) => {
				const distance = Math.abs(section.getBoundingClientRect().top)
				if (distance < minDistance) {
					minDistance = distance
					currentSection = section
				}
			})

			return currentSection
		}

		function setActionNavItem() {
			var iindex = 0
			let currentSection = getActiveSection()

			navigationItems.forEach((nav, index) => {
				const icon = nav.querySelector('.nav-item-icon')
				const text = nav.querySelector('.nav-item-text')
				icon.classList.remove('text-blue-600')
				text.classList.remove('text-blue-600')
				icon.classList.add('text-gray-500')
				if (nav.id === currentSection.id) {
					iindex = index
				}
			})

			const icon = navigationItems[iindex].querySelector('.nav-item-icon')
			const text = navigationItems[iindex].querySelector('.nav-item-text')

			icon.classList.remove('text-gray-500')
			icon.classList.add('text-blue-600')
			text.classList.add('text-blue-600')
		}
		// Debounce function
		function debounce(func: { (): void; apply?: any }, delay: number) {
			let timer: NodeJS.Timeout
			return function (...args: any) {
				clearTimeout(timer)
				timer = setTimeout(() => func.apply(this, args), delay)
			}
		}

		const debouncedSetActiveNavItem = debounce(setActionNavItem, 100)

		setActionNavItem()
		setBottomNavigationClick()

		document.addEventListener('scroll', debouncedSetActiveNavItem)

		document.addEventListener('onselectstart', function (event) {
			event.preventDefault()
		})
	})
</script>
<style>
	.section {
	}

	main {
	}
</style>
