---
import Title from '../components/Title.astro'
import PhotoSwipeGallery from '../components/PhotoSwipeGallery.astro'
import Profile from '../components/Profile.astro'
import DateTimeAndLocation from '../components/DateTimeAndLocation.astro'
import Gift from '../components/Gift.astro'
import MusicButton from './MusicButton.svelte'
import groom from '../../public/groom.avif'
import bride from '../../public/bride.avif'
import g1 from '../../public/gallery/115.avif'
import g2 from '../../public/gallery/106.avif'
import g3 from '../../public/gallery/138.avif'
import g4 from '../../public/gallery/201.avif'
import g5 from '../../public/gallery/210.avif'
import g6 from '../../public/gallery/214.avif'
import g7 from '../../public/gallery/218.avif'
import g8 from '../../public/gallery/232.avif'
import g9 from '../../public/gallery/136.avif'
import InstagramButton from './InstagramButton.svelte'


const banks = [
	{
		bankName: 'Jago',
		accountNumber: '107713862011',
		accountName: 'Yohanes'
	},
	{
		bankName: 'Mandiri',
		accountNumber: '60012163105',
		accountName: 'Citra Yana Kristian'
	}
]

const images = [g1, g2, g3, g4, g5, g6, g7, g8]

const profiles = [
	{
		name: 'Yohanes',
		birthOrder: 'Son of',
		img: groom.src,
		parents: 'Gabriel Bandyatno Kustiadi & Linda'
	}, 
	{
		name: 'Citra',
		birthOrder: 'Daughter of',
		img: bride.src,
		parents: `Boyke Arnold L Tobing & Romentina Sipahutar`
	}
]

const bibleQuotes = {
	content: "And above all these things put on charity, which is the bond of perfectness.",
	verse: "Colossians 3:14 (KJV)"
}
function toInstagram() {
	console.log("hardcode")
	window.open('https://www.instagram.com/ar/347137501335742/', '_blank');
}


---

<>
	<MusicButton client:load />
	<div id="profile" class="section" data-aos-delay="500" data-aos="fade-in">
		<div id="home" class="flex flex-col flex-wrap justify-center items-center h-screen">
			<div class="text-center mx-8 aos-init aos-animate" data-aos="fade-in">
				{bibleQuotes.content}
			</div>
			<div data-aos="fade-in" class="aos-init aos-animate">
				{bibleQuotes.verse}	
			</div>
		</div>

		<div class="min-h-full flex flex-col items-center h-wrap text-white bg-black p-11">
			<Title title="Groom & Bride" />
			{
				profiles.map((profile) => (
					<div class="pb-11"></div>
					<div class="w-[250px] h-[350px]">
						<div class="relative shrink-0 w-full h-full">
							<img
								alt=""
								loading="lazy"
								decoding="async"
								data-nimg="fill"
								class="rounded-full"
								sizes="100vw"
								src={profile.img}
								style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;"
							/>
						</div>
					</div>
					<Profile
						name={profile.name}
						birthOrder={profile.birthOrder}
						parents={profile.parents}
					/>
				))
			}
		</div>
	</div>

	<div id="event" class="section">
		<div class="min-h-full flex flex-col items-center h-wrap text-black py-20 px-8">
			<div data-aos="fade-in" class="relative z-10 aos-init aos-animate">
				<div class="grid grid-cols-1 gap-10 text-center py-12">
					<DateTimeAndLocation
						title="Holy Matrimony"
						placeName="GBI Glow BSD"
						address="GBI GLOW Fellowship Center BSD Junction, Lengkong Wetan, Serpong Sub-District, South Tangerang City, Banten 15310"
						date="25 November 2023"
						time="13:00 WIB till finish"
						locationUrl="https://maps.app.goo.gl/aG2qtFebrnGudcgN8"
					/>
					<div class="pb-11"></div>
					<DateTimeAndLocation
						title="Reception"
						placeName="Lembur Kuring"
						address="Sunburst BSD Lot II No. 7, Jl. Kapten Soebijanto Djojohadikusumo, BSD City, Lengkong Gudang, Tangerang, Jl. Boulevard BSD Tim., Lengkong Gudang, Kec. Serpong, Kota Tangerang Selatan, Banten 15321"
						date="25 November 2023"
						time="17:00 WIB till finish"
						locationUrl="https://maps.app.goo.gl/Kf47fUR42L9Y2o6N6"
					/>
				</div>
			</div>
		</div>
	</div>

	<div
		id="gallery"
		class="section flex flex-col flex-wrap justify-center items-center min-h-full h-wrap"
	>
		<Title title="Our Moments" />
		<PhotoSwipeGallery images={images} />
	</div>

	<div id="wallet" class="section flex flex-col flex-wrap justify-center pt-20 pb-10 items-center h-wrap">
		<Gift banks={banks} />
	</div>

	<div class="section flex flex-col flex-wrap justify-center pb-10 items-center content-center h-wrap">
		<div class="p-10 mb-20 flex flex-col items-center content-center rounded-lg shadow-xl ">
			<div data-aos="fade-in" class="relative z-10 aos-init aos-animate">
				<h2 class="text-center satisfy text-4xl font-bold  mb-8 overflow-visible aos-init aos-animate"
						data-aos="zoom-out">
						<span class="overflow-visible">Instagram Filter</span>
					</h2>
				<p class="text-base text-center overflow-visible mb-4">
					<span class="overflow-visible">Share Your Moments with Instagram Filter.</span>
				</p>
			</div>
			<InstagramButton client:load />
		</div>
	</div>


	<div class="section min-h-full flex flex-col items-center h-wrap text-center text-white ">
		<div class="grid grid-cols-1 relative bg-gradient-to-b from-gray-100 to-gray-500">
			<div class="bg-black "> 
				<div class="aos-init aos-animate" data-aos="fade-down">
					<div class="satisfy text-4xl font-bold pt-10">Thank you</div>
					<div class="text-xs font-bold p-2">
						It would be a joy and an honor for us if you, would kindly attend and bestow your blessings upon us.
					</div>
					<div class="satisfy text-3xl font-bold">Citra & Yohanes</div>
				</div>
			</div>
			<img src={g9.src} alt="Image" class="w-full h-auto" loading="lazy" decoding="async" />
			
			
			
		</div>
	</div>
</>
